/** 
 * Override the default 'a' elem style
 */
a, a:visited {
    /*color: #800000;*/
    color: #FA5742;
}

.main-navigation {
    background-color: #3A1702;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.page-entry-header {
    display: none;
}

.current_page_item{ 
    background-color: #FD5645;
}
.current_page_item > a {
    color: #F1F1F1;
}
